################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/OptiSort/.vs/OptiSort/FileContentIndex
/src/videoStream/.vs
