<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OptiSort.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <OptiSort.Properties.Settings>
      <setting name="IP_scara" serializeAs="String">
        <value>10.90.90.60</value>
      </setting>
      <setting name="IP_controller" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="mqttClientName" serializeAs="String">
        <value>OptiSort</value>
      </setting>
      <setting name="mqttTopic_scaraTarget" serializeAs="String">
        <value>optisort/scara/target</value>
      </setting>
      <setting name="mqttTopic_baslerStream" serializeAs="String">
        <value>optisort/basler/stream</value>
      </setting>
      <setting name="mqttTopic_idsStream" serializeAs="String">
        <value>optisort/ids/stream</value>
      </setting>
      <setting name="mqttTopic_luxonisStream" serializeAs="String">
        <value>optisort/luxonis/stream</value>
      </setting>
      <setting name="scara_controllerName" serializeAs="String">
        <value>OptiSort</value>
      </setting>
      <setting name="scara_robotName" serializeAs="String">
        <value>R1 Cobra600</value>
      </setting>
      <setting name="scara_endEffectorName" serializeAs="String">
        <value>Suction Cup</value>
      </setting>
    </OptiSort.Properties.Settings>
  </userSettings>
</configuration>